[build]
  base = "victoria-main"
  command = "npm run build"
  publish = "victoria-main/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
